/* For testing only */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.main {
  width: 70%;
  margin: auto;
  padding: 1.6%;
  overflow: auto;
}

.logotype {
  /*width: 20%;*/
  float: left;
  margin-right: 1.6%;
  margin-top: 10px;
  width: 58%;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  float: left;
  margin: 0 20px;
}

.logobox {
  height: 30px;
  width: 70px;
  float: left;
  margin: 10px 0;
}

.menu {
  float: right;
  overflow: auto;
  width: 40%;
}

ul {
  -webkit-padding-start: 0px;
}

.menu ul {
  overflow: auto;
  /*width: 250px;*/
}

.middle {
  width: 100%;
  clear: both;
  overflow: auto;
  padding-top: 30px;
}

.intro {
  width: 49%;
  float: left;
  padding-top: 30px;
}

.circleCont {
  width: 51%;
  float: right;
}

.largeCircle {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin: auto;
}

.menu li {
  width: 20%;
  display: inline-block;
  text-align: center;
  margin: 5px;
  float: left;
}

.thumCont, .contA, .contentB {
  width: 29%;
  margin: 2%;
  float: left;
  overflow: auto;
}

.thumbnail {
  width: 100%;
  height: 150px;
  margin-bottom: 35px;
}

.contentA {
  margin-bottom: 30px;
}

.square {
  width: 50px;
  height: 50px;
  float: left;
}

.copy {
  margin-left: 60px;

}

h3 {
  margin-top: 0px;
}

.section {
  margin-bottom: 60px;
}

@media screen and (max-width: 800px) {

  .main {
    width: 90%;
  }

  .circle {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-top: 5px;
  }

  .logobox {
    height: 20px;
    width: 50px;
  }

.menu li {
    margin: 2% 0 2% 1%;
    padding-left: 0px;
  }

.menu ul {
    width: 100%;
  }

.menu li:first-child {
  margin-left: 17%;
}

.largeCircle {
  width: 30vw;
  height: 30vw;
  border-radius: 100%;
  margin: auto;
}

h2 {
  font-size: 4vw;
}

p {
  font-size: 2vw;
}

.thumCont {
  clear: both;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.thumbnail {
  display: block;
  width: 32.26%;
  margin: 1% 0 1% 1.6%;
  float: left;
}

.thumbnail:first-child {
  margin-left: 0;
}

.contA {
  width: 45%;
  margin-left: 2.8%;
}

.contentB {
  width: 45%;
  }

}

@media screen and (max-width: 350px) {

  .main {
    width: 80%;
  }

  .menu {
    width: 100%;
  }

  .menu li:first-child {
    margin-left: 0;
  }

  .menu li {
    width: 24.25%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .intro {
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
  }

  h2, h3 {
    margin-top: 5px;
    margin-bottom:7px;
  }

  h3 {
    margin-top: 0px;
  }

  .circleCont {
    width: 100%;
    margin-bottom: 20px;
  }

  .thumbnail {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    padding-top: 0px;
    height: 80px;
  }

  .middle {
    padding-top: 0px;
  }

  .contA, .contentB {
    width: 100%;
    margin: 0px;
  }
  .section, .contentA {
    margin-bottom: 20px;
  }

  p {
    font-size: 12px;
  }


}
