/* For testing only */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

/* End for testing */

.main {
  width: 80%;
  margin: auto;
  overflow: auto;
}
.one, .two, .three {
  background-color: #fff;
}

.one {
  width: 74%;
  float: left;
  height: 522px;
  margin-right: 2%;
  /*height: 100vh;*/
}

.two, .three {
  width: 24%;
  float: left;
  height: 250px;
}

.two {
  margin-bottom: 2%;
}

@media screen and (max-width:800px) {

  .main {
    max-width: 100%;
  }

  .one {
    width: 100%;
    height: 375px;
  }

  .two, .three {
    width: 48%;
    height: 375px;
    margin-top: 4%;
  }

  .two {
    margin-right: 2%;
    }

  .three {
    margin-left: 2%;
    }
}

@media screen and (max-width: 500px) {
  .one, .two, .three {
    width: 100%;
  }

  .one {
    margin-bottom: 4%;
  }

  .two, .three {
    margin: 4% 0;
    height: 160px;
    }

  .three {
    margin-bottom: 0;
  }


}
